.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb(0, 130, 114)), var(--bs-bg-0)) !important;
  }

.navbar {
    background-color:#008272;
    opacity: 90%;
}

.nav-item {
    border-color: #008272;
    color: #fff;
    border-width: 2px;
    font-weight: 600;
}

.nav-item:hover {
    background-color: #008272;
    color: #000000;
    flood-color: red;
    border-width: 1px;
    border-bottom-color:#11ffe3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}